@use './reset.scss' as *;
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body{
  height: 100%;
  scroll-behavior: smooth;
}

body, * {
  font-size: 16px;
  font-family: var(--font-montserrat), sans-serif;
}

.image-gallery-icon{
  z-index: 0;
}
